<!DOCTYPE html>
<html lang="en" ng-app="ToDoAvenger">
  <head>
    <meta charset="utf-8">
    <title>To Do Avenger</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
  </head>
  <body ng-controller="toDoController as toDoCtrl">
    <h1>To Do Avenger</h1>
    <section>
      <ul class="listGroup" ng-repeat="task in toDoCtrl.displayContent.tasks">
        <li ng-src="{{task.content}}">{{task.content}}</li>
      </ul>
    </section>
    <section>
      <input type="text"></input>
      <button ng-click="toDoCtrl.addTask()">Add To Do</button>
    </section>

  </body>
</html>
